# Laravel Specific Exclusions
/vendor/
/node_modules/
/public/storage
/.env
/.env.*.php
Homestead.yaml
Homestead.json
/npm-debug.log
/yarn-error.log

# NativePHP Specific Exclusions
/compiled/
/cache/
/logs/
/.idea/
/.vscode/

/public/hot
/storage/*.key
/bootstrap/cache
.env
.env.backup
.env.*.php
.phpunit.result.cache
npm-debug.log
yarn-error.log
.DS_Store
*.swp
*.swo
vendor/
.idea/
.vscode/
*.log
/public/build
dist/
build/
